/* global.css */
.container {
  flex: auto;
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: max-content;
  border-radius: 1vw;
  padding: 1vw;
  box-shadow: inset 0 0 0 0.2vw #6a5acd;
  /* 蓝紫色内边框 */
  box-sizing: border-box;
  overflow-y: auto;
  /* 超出垂直方向显示滚动条 */
}

.block {
  border: 1px solid #333;
  padding: 10px;
  flex: 1;
  display: flex;
  align-items: flex-start;
}

.ElementBlock {
  padding-left: 1vw;
}