/* global.css */

.container {
  flex: auto;
  display: flex;
  flex-direction: column;
  /* height: 90vh; */
  width: max-content;
  /* border-radius: 1vw; */
  padding: 1rem;
  box-shadow: inset 0 0 0 0.01vw #00000050;
  /* 蓝紫色内边框 */
  box-sizing: border-box;
  overflow-y: auto;
  /* 超出垂直方向显示滚动条 */
  width: 100%;
}

.block {
  border: 1px solid #333;
  padding: 10px;
  flex: 1;
  display: flex;
  align-items: flex-start;
}

/* 字段元素 */
.ElementBlock {
  padding-left: 1rem;
}

/* 输入框 */
.input {

  width: 100%;
  border: none;
  /* 去掉默认边框 */
  border-bottom: 1px solid #ccc;
  /* 初始底线 */
  padding: 0.5rem 0;
  font-size: 1rem;
  font-weight: 600;
  outline: none;
  transition: border-color 0.3s;
  /* 颜色渐变 */
}

.fieldListContain {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.fieldListElement {
  width: 100%
}

/* 字段内容 */
.fieldComponent {
  display: flex;
  /* flex-direction: row; */
  gap: 1rem;
  /* 子元素间距 */
  padding: 0 0.5rem 0 0.5rem;
  /* 内缩整个容器内容 */
  box-sizing: border-box;
  /* width: 100%; */
}

.operate-button {
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 6px;
  background-color: var(--btn-bg, #ccc);
  /* 默认灰色 */
  color: white;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}

.operate-button:hover {
  background-color: var(--btn-bg-hover, #aaa);
  transform: scale(1.1);
}

.custom-select {
    appearance: none;
    /* 移除默认样式 */
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    background-color: white;
    background-image: url("data:image/svg+xml;charset=US-ASCII,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='5'><polygon points='0,0 10,0 5,5' fill='%23999'/></svg>");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    cursor: pointer;
    font-size: 1rem;
}

.custom-select:focus {
    border-color: #3b82f6;
    outline: none;
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.3);
}

.balckmode-suit{
  color: black;
}